* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin: auto;

}


  
  .controls {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
  }
  
  .controls label,
  .controls input {
    margin: 5px;
  }
  .control {
    border: none;
    color: white;
    background-color: #1b1630;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    width: 50px;
  }
  .grid-container {
    top: 30px;
    display: grid;
    margin: 20px auto;
    width: 767px;
    position: relative;
    grid-auto-rows: 50px; 
}


  .grid-item {
    background-color: #5e4caf;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 10px;
    height: 50px;
  }
  
  .grid-item button {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: grey;
  }
  
  .grid-item button:hover {
    background-color: #5e4caf79;
  }
  
  .draggable-element {
    width: 100%;
    height: 100%;
    background-color: #735cda;
    border: 2px dashed #000;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 10px;
    transition: 0.2s;
  }
  
  .resize-handle {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 2px;
    right:2px;
    cursor: se-resize;
    color: rgb(255, 255, 255);
    line-height: 10px;
    transform: rotate(-90deg);
    font-size: 12px;
  }
  
  .output {
    position: relative;
    margin-top: 20px;
    height: 500px;
    padding: 10px;
    z-index: 10; 
}
  
  .copy-container {
    position: relative;
    display: inline-block;
    width: 100%;
    
  }
  
  .copyToClipboard {
    position: absolute;
    top: 15px;
    right: 0px;
    padding: 5px 10px;
    background-color: #5e4caf;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .copyToClipboard:hover {
    background-color: #4a3a92;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-family: monospace;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #000;
    
  }
  
  @media (max-width: 768px) {
    .grid-container {
        width: 479px;
    }
}


@media (max-width: 480px) {
    .grid-container {
      width: 380px;
       
    }
}